body{
    padding-top: 30px;
    padding-left: 250px;
    padding-right:250px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li a:active{
    background-color: blue;
}


li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
h1{
    text-align: center;
    text-decoration-style:wavy ;
}

h1 a:hover{
    color:red;
}
h2{
    text-align: center;
}

p{
    text-align: justify;
}


